# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
pascal/pascal
pascal/pascal.interp
pascal/pascal.tokens
pascal/pascalBaseVisitor.cpp
pascal/pascalBaseVisitor.h
pascal/pascalLexer.cpp
pascal/pascalLexer.h
pascal/pascalLexer.interp
pascal/pascalLexer.tokens
pascal/pascalParser.cpp
pascal/pascalParser.h
pascal/pascalVisitor.cpp
pascal/pascalVisitor.h
pascal/syncheck
